<div id="fh5co-about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row about-me-section-content">
            <div class="col-md-4">
                <ul class="info">
                    <li>
                        <span class="first-block">Full Name:</span>
                        <span class="second-block">Anas Hannoun</span>
                    </li>
                    <li><span class="first-block">Email:</span>
                        <span class="second-block"><a
                                href="mailto:anas.hanoun.tech@gmail.com">anas.hanoun.tech@gmail.com</a></span>
                    </li>
                    <li><span class="first-block">Address:</span><span class="second-block">
                            Enschede<br>
                            The Netherlands</span></li>
                </ul>
            </div>
            <span class="col-md-2"></span>
            <div class="col-md-6">
                <h2>Hello There!</h2>
                <p>I'm a passionate and experienced software developer with over 3 years of hands-on experience
                    in the industry. With a solid foundation in C#, .NET Framework, AngularJS, PHP, WordPress,
                    JavaScript, jQuery, HTML, and CSS, I craft dynamic and user-friendly web solutions.</p>
                <p>I hold an MBO4 degree and an MBO-level software developing course diploma, which have
                    equipped me with a strong technical background and problem-solving skills. My journey in
                    software development has been fueled by a love for learning and an eagerness to tackle new
                    challenges.</p>
                <p>Fluent in Arabic, English, and Dutch, I thrive in multicultural environments and bring a
                    unique perspective to my work. My projects range from creating seamless WordPress plugins
                    and integrations to
                    developing robust applications with .NET, always with a focus on quality and performance.
                </p>
                <p>
                    When I'm not coding, you can find me exploring the latest tech trends, contributing to
                    open-source projects, or sharing my knowledge with the developer community.
                </p>
                <p>
                    Currently educating myself more on cybersecurity and trying to pickup some <i>"new"</i>
                    languages like Flutter and Dart.
                </p>
                <p>
                    Feel free to explore my portfolio and get in touch if you'd like to collaborate or just chat
                    about all things tech!
                </p>
                <p>
                <ul class="fh5co-social-icons">
                    <li><a href="https://nl.linkedin.com/in/anas-hannoun" target="_blank"><i
                                class="icon-linkedin2"></i></a></li>
                    <li><a href="https://github.com/anas-ha" target="_blank"><i class="icon-github2"></i></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>