<div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>My Resume</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Work Experience</h3>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Software Engineer</h3>
                                <span class="company">Cayo.care | IMH Nederland - 2023 - Current</span>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    <li>Building and maintaining a number of WordPress websites with a focus on
                                        stability, security, and overall aesthetics;</li>
                                    <li>Implementing custom code snippets, scripts, and styles to enhance the
                                        functionality, security, and visual appeal of the websites, making them
                                        more user-friendly;</li>
                                    <li>Developing, updating, and maintaining custom (private) WordPress plugins
                                        to address, resolve, automate, and improve specific work processes and
                                        efficiency.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Software Engineer</h3>
                                <span class="company">CareMatch Applicatie - 2020 - 2023</span>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    <li>Actively contributed to all software development projects and software
                                        development related tasks. </li>
                                    <li>Utilized Azure DevOps for project management and collaboration,
                                        following Scrum and
                                        Agile methodologies, including Azure DTAP implementations and Continuous
                                        Integration;
                                    </li>
                                    <li>Played a significant role in modernizing outdated ASPX pages and
                                        components by
                                        transitioning them to a more efficient API-based AngularJS Material
                                        framework, resulting in significant improvements in user experience and
                                        maintainability ;
                                    </li>
                                    <li>Played a key role in release management;
                                    </li>
                                    <li>Developed a custom monitoring tool incorporating the Azure API to track
                                        and optimize status, performance, error handling, and cache management
                                        for various applications and web services.
                                    </li>
                                    <li>Effectively identified and implemented improvements in the billing
                                        process.</li>

                            </div>
                        </div>
                    </li>

                    <br>

                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Education</h3>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Software Developer</h3>
                                <span class="company">ROC van Twente - 2020 - 2020</span>
                            </div>
                            <div class="timeline-body">
                                <p>MBO</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Tourism and Hotels</h3>
                                <span class="company">Jami't Al-Ba'ath - 2011 - 2014</span>
                            </div>
                            <div class="timeline-body">
                                <p>Associate’s Degree.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">General certificate of education (Baccalauréat)</h3>
                                <span class="company">Mosa Jarabanda - 2004 - 2011</span>
                            </div>
                            <div class="timeline-body">
                                <p>Equivalent to Highschool (HAVO/VWO).
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>