<div id="fh5co-features" class="animate-box">
    <div class="container">
        <div class="services-padding">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>My Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="icon-cogs"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Custom Web Applications</h3>
                            <p> I specialize in developing custom web applications tailored to your business
                                needs. With a focus on performance and scalability, I ensure your application is
                                robust and future-proof.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="icon-link"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>API Integrations
                            </h3>
                            <p>Seamlessly connecting various services and systems, I provide efficient API
                                integration solutions. Whether it's third-party services or custom APIs, I
                                ensure smooth and secure data flow.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="icon-speedometer"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Performance Optimization
                            </h3>
                            <p>Maximizing the speed and efficiency of your web applications through
                                comprehensive performance optimization. I identify bottlenecks and implement
                                solutions to ensure fast and reliable performance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 text-center">

                    <div class="feature-left">
                        <span class="icon">
                            <i class="icon-shopping-cart"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>E-commerce Solutions
                            </h3>
                            <p>Building feature-rich e-commerce platforms that drive sales and provide a
                                seamless shopping experience. I focus on security, usability, and scalability to
                                support your business growth.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="icon-edit"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Content Management Systems
                            </h3>
                            <p>Expertise in developing and customizing content management systems, particularly
                                WordPress, to empower you to manage your content effortlessly. I create
                                intuitive and flexible CMS solutions.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <div class="feature-left">
                        <span class="icon">
                            <i class="icon-paintbrush"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Front-end Development
                            </h3>
                            <p>Crafting visually appealing and interactive user interfaces with a focus on
                                modern design principles and usability. I bring your ideas to life with clean,
                                responsive, and vibrant front-end solutions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>