<div id="fh5co-skills" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Skills</h2>
            </div>
        </div>
        <div class="row row-pb-md fh5co-skills-charts-container">
            <div class="fh5co-skill-chart">
                <div class="chart" data-percent="92"><span><strong>C#/.NET</strong>92%</span></div>
            </div>
            <div class="fh5co-skill-chart">
                <div class="chart" data-percent="88"><span><strong>PHP</strong>88%</span></div>
            </div>
            <div class="fh5co-skill-chart">
                <div class="chart" data-percent="85"><span><strong>SQL</strong>80%</span></div>
            </div>
            <div class="fh5co-skill-chart">
                <div class="chart" data-percent="85"><span><strong>MySQL</strong>85%</span></div>
            </div>
            <div class="fh5co-skill-chart">
                <div class="chart" data-percent="90"><span><strong>JavaScript</strong>90%</span></div>
            </div>
            <div class="fh5co-skill-chart">
                <div class="chart" data-percent="90"><span><strong>jQuery</strong>90%</span></div>
            </div>
            <div class="fh5co-skill-chart">
                <div class="chart" data-percent="89"><span><strong>WordPress</strong>89%</span></div>
            </div>
            <div class="fh5co-skill-chart">
                <div class="chart" data-percent="95"><span><strong>HTML5</strong>95%</span></div>
            </div>
            <div class="fh5co-skill-chart">
                <div class="chart" data-percent="93"><span><strong>CSS3</strong>93%</span></div>
            </div>
            <div class="fh5co-skill-chart">
                <div class="chart" data-percent="90"><span><strong>AngularJS</strong>90%</span></div>
            </div>
        </div>
    </div>
</div>